<!-- footer -->
<footer class="bg-light small text-secondary py-4 px-3">
    <div class="container">
        <div class="row justify-content-between ">
            <!-- 왼쪽 정보 영역 -->
            <div class="col-md-7">
                <div>
                    랩핏 고객센터 : 010-1111-2222 (평일 09:00 - 18:00, 점심시간 12:00 - 13:00, 주말·공휴일 휴무)
                </div>
                <div class="mt-1">
                    이메일 : coding@leapit.co.kr / Fax : 02-1111-2222
                </div>
                <div class="mt-4">
                    (주)삼김백원, 우 : 07800,  부산광역시 부산진구 중앙대로 736 , 범향빌딩 3층 C03, 대표 : 김주희
                </div>
                <div class="mt-1">
                    사업자등록번호: 123-45-67890 / 직업정보제공사업: 부산 부산진 제 2025-부산진-001호 / 통신판매업신고: 제 2025-부산진구-0123호
                </div>
                <div class="mt-4">Copyright (c) (주)삼김백원. All rights reserved.</div>
            </div>
            <!-- 오른쪽 링크 목록 -->
            <div class="col-md-4 mt-3 mt-md-0">
                <div class="row row-cols-2 g-2 text-end ">
                    <div class="col"><a href="https://github.com/human-kjh/leapit" class="text-secondary text-decoration-none">서비스 소개</a>
                    </div>
                    <div class="col"><a href="https://www.saramin.co.kr/zf_user/help/terms-of-service" class="text-secondary text-decoration-none">회원약관</a></div>
                    <div class="col"><a href="https://github.com/human-kjh/leapit" class="text-secondary text-decoration-none">기업 서비스</a>
                    </div>
                    <div class="col"><a href="https://www.saramin.co.kr/zf_user/help/privacy" class="text-secondary fw-semibold text-decoration-none">개인정보처리방침</a>
                    </div>
                    <div class="col"><a href="https://github.com/human-kjh/leapit" class="text-secondary text-decoration-none">랩핏Team</a>
                    </div>
                    <div class="col"><a href="https://github.com/human-kjh/leapit" class="text-secondary text-decoration-none">자주묻는질문 FAQ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer 끝 -->
</div>
</div>
</body>

</html>