{{> layout/personal-header}}

            <!-- 본문 -->
            <div class="bg-light p-4">
                <div class="container bg-white p-3 border">
<form action="/s/community/save" method="post" >
                    <!-- 제목 입력 -->
                    <div class="mb-3">
                        <input type="text" class="form-control form-control-lg" placeholder="게시글 제목을 입력하세요" name="title">
                    </div>

                    <!-- 내용 입력 -->
                    <div class="mb-3">
                        <textarea class="form-control" rows="8" placeholder="게시글 내용을 입력하세요" name="content"></textarea>
                    </div>

                    <!-- 등록 버튼 -->
                    <button type="submit" class="btn btn-primary w-100">게시글 등록</button>
</form>
                </div>
            </div>
            <!-- 본문 끝 -->

{{> layout/footer}}