body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
}

.headerItem:hover {
    color: #007bff !important;
}

.siteWrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
}

.contentWrapper {
    margin: 0 auto;
    min-height: 100vh;
    background-color: #ffffff;
}