{{> layout/company-header}}

<div class="main container mt-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="fs-4 fw-semibold">포지션 리스트</h1>
            <button class="btn btn-primary" onclick="location.href='/s/company/jobposting/save-form'">포지션 등록</button>
        </div>

        <div class="row g-5 mb-5">
            <div class="col-md-6">
                <h2 class="fs-6 fw-medium mb-3">
                    진행 중 <span class="text-success fw-semibold">{{openJobPostings.size}}</span>
                </h2>
                <div class="vstack gap-3">
                    {{#openJobPostings}}
                        <div class="card p-3 card-clickable">
                            <div class="card-body text-start">
                                <a href="/s/company/jobposting/{{id}}"
                                   class="btn btn-link text-dark text-decoration-none p-0 text-start fw-semibold">
                                    {{title}}
                                </a>
                                <p class="card-text text-muted">{{deadline}}</p>
                                <span class="badge bg-primary">진행중</span>
                            </div>
                        </div>
                    {{/openJobPostings}}
                    {{^openJobPostings}}
                        <div class="text-muted">진행 중인 채용 공고가 없습니다.</div>
                    {{/openJobPostings}}
                </div>
            </div>

            <div class="col-md-6">
                <h2 class="fs-6 fw-medium mb-3">
                    마감 <span class="text-secondary fw-semibold">{{closedJobPostings.size}}</span>
                </h2>
                <div class="vstack gap-3">
                    {{#closedJobPostings}}
                        <div class="card p-3 card-clickable">
                            <div class="card-body text-start">
                                <a href="/s/company/jobposting/{{id}}"
                                   class="btn btn-link text-dark text-decoration-none p-0 text-start fw-semibold">
                                    {{title}}
                                </a>
                                <p class="card-text text-muted">{{deadline}}</p>
                                <span class="badge bg-secondary">마감</span>
                            </div>
                        </div>
                    {{/closedJobPostings}}
                    {{^closedJobPostings}}
                        <div class="text-muted">마감된 채용 공고가 없습니다.</div>
                    {{/closedJobPostings}}
                </div>
            </div>
        </div>
    </div>
</div>
{{> layout/footer}}