{{> layout/company-header}}

<div class="main container mt-5">
    <div class="container">
        <div class="bg-white p-5 rounded shadow">
            <h2 class="mb-4 fw-bold">채용 포지션 등록</h2>
            <form class="row g-4" action="/s/company/jobposting/save" method="post">
                <div class="col-md-6">
                    <div>직무 <span class="text-danger">*</span></div>
                    <select class="form-select" name="positionType" required>
                        <option selected disabled>선택하세요</option>
                        {{#positionType}}
                            <option value="{{.}}">{{.}}</option>
                        {{/positionType}}
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">기술 스택 <span class="text-danger">*</span></label>
                    <div>
                        {{#model}}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="techStack" value="{{code}}"
                                       id="tech_{{code}}">
                                <label class="form-check-label" for="tech_{{code}}">{{code}}</label>
                            </div>
                        {{/model}}
                    </div>
                    <div class="form-text">
                        원하는 기술 스택을 모두 선택하세요
                    </div>
                </div>

                <div class="col-12">
                    <div>포지션 제목 <span class="text-danger">*</span></div>
                    <textarea class="form-control" rows="3" placeholder="서비스나 제품의 핵심이 되는 컴포넌트를 함께 만들며..."
                              name="title" required></textarea>
                </div>

                <div class="row align-items-end mt-3">
                    <div class="col-md-6">
                        <div>포지션 마감일 <span class="text-danger">*</span></div>
                        <input type="date" class="form-control" name="deadline" required/>
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">연차 (최소)</label>
                        <select class="form-select" name="minCareerLevel">
                            <option selected value="0">신입</option>
                            <option value="1">1년차</option>
                            <option value="2">2년차</option>
                            <option value="3">3년차</option>
                            <option value="4">4년차</option>
                            <option value="5">5년차</option>
                            <option value="6">6년차</option>
                            <option value="7">7년차</option>
                            <option value="8">8년차</option>
                            <option value="9">9년차</option>
                            <option value="10">10년 이상</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">연차 (최대)</label>
                        <select class="form-select" name="maxCareerLevel">
                            <option selected value="10">10년 이상</option>
                            <option value="0">신입</option>
                            <option value="1">1년차</option>
                            <option value="2">2년차</option>
                            <option value="3">3년차</option>
                            <option value="4">4년차</option>
                            <option value="5">5년차</option>
                            <option value="6">6년차</option>
                            <option value="7">7년차</option>
                            <option value="8">8년차</option>
                            <option value="9">9년차</option>
                            <option value="10">10년 이상</option>
                        </select>
                    </div>
                </div>

                <div class="row g-3 align-items-end mt-3" style="max-width: 720px">
                    <div class="col-md-3">
                        <div>시/도 <span class="text-danger">*</span></div>
                        <select class="form-select" name="addressRegionId">
                            <option selected disabled>선택하세요</option>
                            {{#addressRegionList}}
                                <option value="{{regionId}}">{{region}}</option>
                            {{/addressRegionList}}
                        </select>
                    </div>

                    <div class="col-md-3">
                        <div>시/군/구 <span class="text-danger">*</span></div>
                        <select class="form-select" id="addressSubRegion" name="addressSubRegionId">
                            <option disabled selected>선택하세요</option>
                            {{#addressSubRegionList}}
                                <option value="{{subRegionId}}">{{subRegion}}</option>
                            {{/addressSubRegionList}}
                        </select>
                    </div>

                    <div class="col-md-6">
                        <div>상세주소 <span class="text-danger">*</span></div>
                        <input class="form-control" placeholder="상세주소입력" name="addressDetail" required/>
                    </div>
                </div>

                <div class="col-12">
                    <div>서비스 소개</div>
                    <textarea class="form-control" placeholder="서비스에 대한 간략한 소개" name="serviceIntro"></textarea>
                </div>

                <div class="col-12">
                    <div>담당 업무 <span class="text-danger">*</span></div>
                    <textarea class="form-control" placeholder="예: 프론트엔드 UI 개발" name="responsibility"
                              required></textarea>
                </div>
                <div class="col-12">
                    <div>자격요건 <span class="text-danger">*</span></div>
                    <textarea class="form-control" placeholder="예: React 경험 2년 이상" name="qualification"
                              required></textarea>
                </div>
                <div class="col-12">
                    <div>학력 제한 <span class="text-danger">*</span></div>
                    <select class="form-select" name="educationLevel" required>
                        <option selected value="전체">전체</option>
                        <option value="중학교 졸업">중학교</option>
                        <option value="고등학교 졸업">고등학교</option>
                        <option value="전문학사 졸업">전문학사</option>
                        <option value="학사 졸업">학사</option>
                        <option value="석사 졸업">석사</option>
                        <option value="박사 졸업">박사</option>
                    </select>
                </div>
                <div class="col-12">
                    <div>우대 사항</div>
                    <textarea class="form-control" placeholder="예: 오픈소스 기여 경험" name="preference"></textarea>
                </div>

                <div class="col-12">
                    <div>복지 및 혜택 <span class="text-danger">*</span></div>
                    <textarea class="form-control" placeholder="예: 점심 제공, 자율 출퇴근 등" name="benefit" required></textarea>
                </div>

                <div class="col-12">
                    <div>기타</div>
                    <textarea class="form-control" placeholder="채용절차/지원방법 등" name="additionalInfo"></textarea>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn btn-primary w-100">
                        등록하기
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const regionSelect = document.querySelector('select[name="addressRegionId"]');
        const subRegionSelect = document.querySelector('select[name="addressSubRegionId"]');

        regionSelect.addEventListener("change", function () {
            const selectedRegionId = this.value;

            // 하위 옵션 초기화
            subRegionSelect.innerHTML = '<option disabled selected>선택하세요</option>';

            // 서버로 서브 지역 요청
            fetch(`/api/region/subregions?regionId=${selectedRegionId}`)
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(subRegion => {
                            const option = document.createElement("option");
                            option.value = subRegion.subRegionId;
                            option.textContent = subRegion.subRegion;
                            subRegionSelect.appendChild(option);
                        });
                    })
                    .catch(error => console.error("서브 지역 로딩 실패:", error));
        });
    });
</script>

{{> layout/footer}}